body{
    /*background: url("../public/assets/bg_app.png") 0 0 no-repeat;
    background-size: cover;
    opacity: .5;*/
}

.app{
    padding: 0;
}

.sidebar{
    padding: 0;
    width: 6.333333%;
    min-width: 91px;
}

.welcome__holder{
    height: 100vh;
}

.welcome__text{
    align-items: center;
    font-size: 72px;
    font-weight: 100;
    background: -webkit-linear-gradient(0deg, #64e2ee, #a7e508);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu{
    width: 100%;
    background-color: #1E2020;
    color: #8d9b9d;
    display: inline-block;
    height: 100vh;
}

.menu ul{
    padding: 0;
}

.menu li{
    text-align: center;
    height: 80px;
    padding-top: 13px;
    width: 100%;
    list-style: none;
}

.menu li.logo{
    height: 103px;
    padding-top: 0;
}

.menu .option{
    cursor: pointer;
}

.menu .selected{
    background-color: #00afbf;
    color: #FFF;
    transition: all .5s ease;
    border-color: #FFFFFF;
}

.vxf_logo{
    height: 33px;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.unseen{
    height: 17px;
    color: #FFF;
    line-height: 15px;
    background-color: #00afbf;
    border-radius: 36%;
    border: 1px solid #FFF;
    padding: 0px 6px;
    font-size: 10px;
    position: absolute;
    right: 23px;
    top: -7px;
    text-align: center;
}

.chart__holder{
    text-align: center;
}

#chart1-container {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
}

.section{
    text-align: center;
    padding: 0;
    width: 93.666667%;
}

.menu__text,.menu__img{
    display: block;
}

.menu__text{
    font-size: 12px;
    padding-top: 6px;
}

.menu__img{
    margin: 0 auto;
    height: 33px;
    width: auto;
}

.user{
    position: relative;
}

.user__avatar{
    display: block;
    height: 31px;
    width: auto;
    border: 1px solid #8d9b9d;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;
    margin-top: 9px;
}

.selected .user__avatar{
    border-color: #FFFFFF;
    transition: all .5s ease;
}

.timeline{
    border-right: 2px solid #cccccc;
    height: 100vh;
    overflow: hidden;
    width: 43.5%;
}

.timeline ul{
    padding: 0;
    height: 90%;
    overflow-y: scroll;
}

.timeline li{
    list-style: none;
}

.searchbar{
    border:none;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    height: 45px;
    width: 100%;
    background: url('../public/assets/search_icon.png') no-repeat scroll 35px 16px;
    padding-left:11%;
    margin-bottom: 3px;
    border-bottom: 2px solid #cccccc;
}

.searchbar:focus{
    outline: none;
}

.searchbar::placeholder{
    color: #b3babb;
}

.dot__holder{
    padding: 0;
}

.dot::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 11px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #00afbf;
}

.tweet{
    padding: 34px;
    border-bottom: 2px solid #cccccc;
    border-right: 4px solid #FFF;
}

.tweet .text-left{
    padding: 0 8px;
}

.tweet:hover,.tweet.selected{
    background-color: #f5f9fa;
    transition: all .5s ease;
    border-right-color: #00afbf;
}

.tweet .avatar{
    height:35px;
    width: auto;
    border-radius: 5px;
}

.avatar__holder{
    padding: 0;
    text-align: left;
}

.avatar__brand{
    height: 18px;
    position: absolute;
    right: 5px;
    top: 21px;
}

.tweet__info{
    color: #a1b1b3;
    font-size: 14px;
    margin-top: -5px;
    display: block;
    font-weight: 400;
}

.text-left{
    text-align: left;
}

.feed{
    display: flex;
}

.tweetDetail{
    flex-grow: 1;
    overflow: hidden;
    padding-top: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
}

a{
    color: #00afbf;
}

.detail__brand{
    height: 55px;
    display: inline-block;
    vertical-align: top;
}

.detail__name{
    display: inline-block;
    padding-left: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.detail__group{
    color: #778182;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
}

.divider{
    padding: 3% 0;
    color: #414849;
    display: block;
    font-weight: 600;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}
.divider:before, .divider:after {
    background-color: #dfdfdf;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.divider:before {
    right: 0.5em;
    margin-left: -50%;
}
.divider:after {
    left: 0.5em;
    margin-right: -50%;
}

.recharts-wrapper{
    margin: 0 auto;
}